<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metric.skava.uploader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.skava.picture.UPLOADER" />

    <permission
        android:name="com.skava.picture.UPLOADER"
        android:label="@string/uploader_service_permission_label"
        android:description="@string/uploader_service_permission_description">
    </permission>


    <application
        android:name=".app.SkavaUploaderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.metric.skava.uploader.CoreMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyUploaderService"
            android:exported="true"
            android:permission="com.skava.picture.UPLOADER">
            <intent-filter>
                <action android:name="com.metric.skava.uploader.UPLOAD_SERVICE_ACTION" />
            </intent-filter>
        </service>


        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-cuv2qsemrj5o4xw" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
