<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metric.skava"
    android:sharedUserId="my.skava.app"
    android:process="my.skava.app">

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.skava.picture.UPLOADER" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <meta-data
        android:name="com.aviary.android.feather.v1.API_KEY"
        android:value="f605ffbf6bfeb04c" />

    <application
        android:name="com.metric.skava.app.SkavaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomAppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCwRSEzlDXPJ010ozR1jLNGj6lO2EMBMH8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <meta-data -->
        <!-- android:name="com.aviary.android.feather.v1.API_KEY" -->
        <!-- android:value="eb52730700f53b3b" /> -->

        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- SKAVAAPP -->
                <!-- <data android:scheme="db-zt0gfu84ayugdhp" /> -->
                <data android:scheme="db-1ij9s1t1ab2evpu" />
                <!-- <data android:scheme="db-wipi7ui8mgii76j" /> -->
                <!-- <data android:scheme="db-1xwvqk4tepx9w1r" /> -->
                <!-- <data android:scheme="db-wv7jc0wirvu2c8y" /> -->
                <!-- <data android:scheme="db-bzsvwf0odnoslis" /> -->

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />

        <activity
            android:name="com.metric.skava.home.activity.HomeMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.metric.skava.authentication.LoginMainActivity"
            android:label="@string/title_activity_login_main"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <!--<activity-->
        <!--android:name="com.metric.skava.maps.activity.LocationMapActivity"-->
        <!--android:label="@string/title_activity_location_map"-->
        <!--android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"-->
        <!--android:screenOrientation="landscape"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="com.metric.skava.home.activity.HomeMainActivity" />-->
        <!--</activity>-->
        <activity
            android:name=".report.activity.ReviewAssessmentReportMainActivity"
            android:label="@string/title_activity_mapping_report_main"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentsListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentsListActivity" />
        </activity>
        <activity
            android:name=".report.activity.AssessmentReportMainActivity"
            android:label="@string/title_activity_mapping_report_main"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name=".report.activity.MappingReportMainActivity"
            android:label="@string/title_activity_mapping_report_main"
            android:parentActivityName="com.metric.skava.mapping.activity.MappingStageListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.mapping.activity.MappingStageListActivity" />
        </activity>
        <!--<activity-->
        <!--android:name="com.metric.skava.speech.activity.SpeechMainActivity"-->
        <!--android:label="@string/title_activity_speech_main"-->
        <!--android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="com.metric.skava.home.activity.HomeMainActivity" />-->
        <!--</activity>-->
        <activity
            android:name="com.metric.skava.calculator.activity.CalculatorFlavoursListActivity"
            android:label="Calculator Flavours List Activity"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.calculator.barton.activity.QBartonCalculatorDetailActivity"
            android:parentActivityName="com.metric.skava.calculator.activity.CalculatorFlavoursListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.calculator.activity.CalculatorFlavoursListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.calculator.rmr.activity.RMRCalculatorDetailActivity"
            android:parentActivityName="com.metric.skava.calculator.activity.CalculatorFlavoursListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.calculator.activity.CalculatorFlavoursListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.settings.activity.SettingsMainActivity"
            android:label="@string/title_activity_settings_main"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.assessment.activity.AssessmentStageListActivity"
            android:label="@string/title_stage_list"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.mapping.activity.MappingStageListActivity"
            android:label="@string/title_stage_list"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.identification.activity.IdentificationMainActivity"
            android:label="@string/title_activity_identification_main"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.rockmass.activity.RockMassDescriptionMainActivity"
            android:label="@string/title_activity_rock_mass_description_main"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.about.activity.AboutMainActivity"
            android:label="@string/title_activity_about_main"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.pictures.activity.PicturesMainActivity"
            android:label="@string/title_activity_pictures_main"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.pictures.activity.PictureDetailActivity"
            android:label="@string/title_activity_picture_detail"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.expandedview.activity.ExpandedTunnelMainActivity"
            android:label="@string/title_activity_expanded_view"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.discontinuities.activity.DiscontinuitiesMainActivity"
            android:label="@string/title_activity_discontinuities_main"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.instructions.activity.InstructionsMainActivity"
            android:label="@string/title_activity_instructions_main"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.test.activity.TestListViewMainActivity"
            android:label="@string/title_activity_test_list_view_main"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.rocksupport.activity.RockSupportMainActivity"
            android:label="@string/title_activity_rock_support_main"
            android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />
        </activity>
        <activity
            android:name="com.metric.skava.sync.activity.SyncMainActivity"
            android:label="@string/title_activity_sync_main"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <!--<activity-->
        <!--android:name="com.metric.skava.test.activity.WebViewMainActivity"-->
        <!--android:label="@string/title_activity_web_view_main"-->
        <!--android:screenOrientation="landscape"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize" />-->
        <activity
            android:name="com.metric.skava.assessment.activity.AssessmentsListActivity"
            android:label="@string/title_activity_assessments_list"
            android:parentActivityName="com.metric.skava.home.activity.HomeMainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.metric.skava.home.activity.HomeMainActivity" />
        </activity>
        <!--<activity-->
        <!--android:name="com.metric.skava.test.activity.TestAuthenticationMainActivity"-->
        <!--android:label="@string/title_activity_test_authentication_main"-->
        <!--android:screenOrientation="landscape"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--/>-->
        <!--<activity-->
        <!--android:name="com.metric.skava.assessment.activity.SaveAssessmentActivity"-->
        <!--android:label="@string/title_activity_save_assessment" />-->
        <!--<activity-->
        <!--android:name="com.metric.skava.expandedview.activity.TestAutocadMainActivity"-->
        <!--android:label="@string/title_activity_test_autocad_main"-->
        <!--android:parentActivityName="com.metric.skava.assessment.activity.AssessmentStageListActivity">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="com.metric.skava.assessment.activity.AssessmentStageListActivity" />-->
        <!--</activity>-->
    </application>

</manifest>
